{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Library Management System</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  </head>
  <body>

    <div class="grid-container">
      <div class="menu-icon">
        <i class="fas fa-bars header__menu"></i>
      </div>

      <header class="header">
        <!-- <div class="header__search">
          <form method="get" action="/Search/">
            <input type="text" placeholder="Search by Book id" name="query2" id="query2">
            <button type="submit">Submit</button>
          </form>
        </div> -->
        <h1> ISSUE BOOK </h1>
      </header>

      <aside class="sidenav">
        <img src="{% static 'img/PalmettoLogo.png' %}" alt="Logo" class="sidenav__logo">
        <div class="sidenav__close-icon">
          <i class="fas fa-times sidenav__brand-close"></i>
        </div>
        <ul class="sidenav__list">
          <li class="sidenav__list-item"><a href="/dashboard/"><i class="fa fa-tachometer"></i> Dashboard</a></li>
          <li class="sidenav__list-item"><a href="/addbook/"><i class="fa fa-book"></i> Add Book</a></li>
          <li class="sidenav__list-item"><a href="/addstudent/"><i class="fa fa-users"></i> Add Patron</a></li>
          <li class="sidenav__list-item"><a href="/viewissuedbook/"><i class="fa fa-search"></i> View Issued Books</a></li>
          <li class="sidenav__list-item"><a href="/bookissue/"><i class="fa fa-bookmark"></i> Issue Book</a></li>
          <li class="sidenav__list-item"><a href="/returnbook/"><i class="fa fa-undo"></i> Return Book</a></li>
          <li class="sidenav__list-item"><a href="/HandleLogout/"><i class="fa fa-sign-out"></i> Log Out</a></li>
        </ul>
      </aside>

      <main class="main">
        
        <div>
          <br><br>
          <div class="table-container">
            <div class="messages" id="alert-message">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
              <strong>Message:</strong> {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        </div>

            <div class="form-box" style="background-color: #00a6cc; width:30rem; height:25rem;">
              <h2>ISSUE BOOK</h2>
              <form action="/issuebooksubmission/" method="post">
                {% csrf_token %}
                <div class="login-page">
                  <div class="form">
                    <form class="login-form">
                      <input type="text" name="book1" class="form-control" id="book1" required placeholder="BOOK ID: "/>
                      <input type="text" name="studentid" class="form-control" id="studentid" required placeholder="PATRON ID: "/>
                      <input type="hidden" name="category" id="category" class="form-control" required value="ISSUED"/>
                      <button type="submit">Submit</button>
                    </form>
                  </div>
                </div>
        </div>
      </br></br>
      <div class="table-container">
        <h1> ISSUED BOOKS LIST </h1>
        <table class="table" id="dataTable" width="100%" cellspacing="0">
          <thead>
               <tr>
                   <th>Student Name</th>
                   <th>Student Id</th>
    
               </tr>
           </thead>
       {% for info in Student %}
               <tr>
                   <td data-label="bookid">{{info.sname}}</td>
                   <td data-label="bookname">{{info.studentid}}</td>
               </tr>
    
       {% endfor %}
        </tbody>
       </table>  
</div>
   </main>
  
   <footer class="footer">
    <div class="footer__copyright">&copy; 2023</div>
    <div class="footer__signature">Palmetto Library Management</div>
   </footer>
  </div>
  </html>